@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Righteous');
@import url('https://fonts.googleapis.com/css?family=Lato');

body, table, div:not(.fragment):not(.line), p, dl {
    font: 400 13px/21px Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
}

#nav-tree .label,.sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active,.sm-dox a,.navpath li.navelem a{
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
}
#projectname
{
	color: #333;
    margin: 0;
    font-size: 40px!important;
    letter-spacing: 0.02em;
    font-weight: 900!important;
    font-family: 'Righteous', cursive!important;
	padding-top: 20px;
}

#projectbrief
{
	color: white;
    font-size: 16px!important;
    letter-spacing: 0.04em;
    font-family: 'Poiret One', cursive!important;
}
#projectalign{
	padding-left: 12px;
}

#projectnumber
{
	display:inline-block;
	line-height:1!important;
	vertical-align:baseline;
	margin:0 .14285714em;
	padding:.5833em .833em;
	text-transform:none;
	font-weight:400!important;
	border:0 solid transparent;
	border-radius:.28571429rem;
	font-size:12px!important;
	color:#fff;margin-left:1em;padding:.3em .78571429em;
	background-color:#D39D38!important;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
	text-shadow: none!important;
}

#version{
	color: rgb(71, 69, 70);
	font-size: 16px;
	font-weight: 600;
	margin: 0px;
	padding: 0px 10px 0px;
}

#titlearea
{
	color: rgb(71, 69, 70);
    position: relative;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    perspective-origin: 950.5px 128px;
    transform-origin: 950.5px 128px;
	background: #4DA0B0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	padding: 0px 0px 10px;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #395D54;
}
.memproto, dl.reflist dt{
	background-color: #fbf6ed;
}
.memtitle{
	font-weight: 600 !important;
	font-size: 120% !important;
	background-color: #e5c68b !important;
    background-image: none !important;
}

.memdoc p:not(.definition){
	color: #629F9C;
	font-weight: 600 !important;
}

.params td:not(.paramtype):not(.paramname),.section.return dd,.mdescRight{
	color: #629F9C;
	font-weight: 500 !important;
}

#MSearchField{
	background: none;
	font-size: 9pt;
	border: inherit;
}
#MSearchBox .left{
	background: none;
}

#MSearchBox .right{
	background: none;
}

#MSearchBox{
    margin-top: 6px;
    background-color: #234a51;
    padding-top: 4px;
}

.SelectItem{
	font: 8pt Roboto,sans-serif;
}
.image{
	text-align: left !important;
}

.sm-dox, .navpath{
	background-color: #1e3f45;
	background-image: none;
	padding-top: 4px;
    padding-bottom: 4px;
}


.sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active{
	text-shadow: none;
	color: #eee;
}

.navpath a, .navpath a:focus, .navpath a:hover, .navpath a:active,.navpath li.navelem a{
	text-shadow: none;
	color: #eee;
}

.sm-dox a,.navpath ul{
	background: none!important;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active,#nav-path a{
	font-weight: 500!important;
}

.sm-dox a span.sub-arrow{
	border-color:#eee transparent transparent transparent;
}

.navpath li.footer{
	color: #eee;
}

.navpath ul{
	border:none!important;
}

#nav-tree .selected{
	background-image: none!important;
	text-shadow: none!important;
	background-color: #a2a2a2!important;
}

#side-nav{
	background-color: #eee!important;
}
.icon{
	height:18px;
}
#MSearchSelect{
	padding: 16px 16px 0px 0px; 
	background: url('search/search.png'); background-size:auto; width:0px; height: 0px;
}
#MSearchCloseImg{
	padding: 16px 16px 0px 0px;
	background: url('search/close.png'); background-size:auto; width:0px; height: 0px;
}

.MSearchBoxActive #MSearchField{
	color: #eee;
}

span.mlabel{
    background-color: #d6a446;
    border: none;
	padding: 4px 4px;
    border-radius: 2px;
	font-size: 8pt;
}

.SRPage .SRStatus{
	font-style: normal!important;
}

#MSearchResultsWindow {
    border: 1px solid #eee;
    background-color: #FBFBFB;
}

div.ah, span.ah{
	background-color: #1E3F45;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#1E3F45),color-stop(0.3, #444));
	border: none;
	min-width: 16px;
	text-align: center;
}

a.qindex {
    padding: 0px 5px;
}
