<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {% for url in urls %}
        <url>
            <loc>{{ base ~ url.location }}</loc>
            {% if url.lastModification %}
                <lastmod>{{ url.lastModification }}</lastmod>
            {% endif %}
            <changefreq>{{ url.changeFrequency }}</changefreq>
            <priority>{{ url.priority }}</priority>
        </url>
    {% endfor %}
</urlset>