{% extends "@framework/crud/index.html" %}
{% block _before %}
	{{ parent() }}
{% endblock %}
{% block btAddNew %}
	{{ parent() }}
{% endblock %}
{% block _addNewCaption %}
	{{ parent() }}
{% endblock %}
{% block frm %}
	{{ parent() }}
{% endblock %}
{% block dataTable %}
	{{ parent() }}
{% endblock %}
{% block messages %}
	{{ parent() }}
{% endblock %}
{% block details %}
	{{ parent() }}
{% endblock %}
{% block _after %}
	{{ parent() }}
{% endblock %}
{% block script %}
	{{ parent() }}
{% endblock %}
