{% block _before %}
{% endblock %}
{% block _form %}
<div id="form-container">
	{% if not modal %}
	{{ q["frmEdit"] | raw }}
	{% block _beforeButtons %}
	<div class="ui segment">
	{% endblock %}
		{% block _buttons %}
		<button id="action-modal-frmEdit-0" class="ui button positive"><i id="icon-bt-okay" class="icon check circle"></i> Validate</button>
		&nbsp;
		<button id="bt-cancel" class="ui button"><i id="icon-bt-cancel" class="icon remove circle outline"></i> Cancel</button>
		{% endblock %}
	</div>
	{%endif%}
</div>
{% endblock %}
{% block _after %}
{% endblock %}
{% block _script_foot %}
{{script_foot | raw}}
{% endblock %}
