{{ q["header"] | raw }}
<div id="messages" style="padding: 20px 0;">{{ q["init-message"] | raw }}</div>
<div class="ui {%if initializeBt %}disabled{% endif %} labeled button">
  <div id="settings-btn" class="ui button">
    <i class="settings icon"></i> Repository settings
  </div>
  <a class="ui basic left pointing label">
    {{repo}}
  </a>
</div>&nbsp;{{ initializeBt | raw }}&nbsp;{{ btRefresh | raw }}&nbsp;{{ gitIgnoreBt | raw }}&nbsp;{{ pushPullBts | raw }}
<br><br>
<div id="frm"></div>

<div id="git-tabs" class="ui pointing secondary menu">
  <a class="active item" data-tab="changes">Changes <span id="lbl-changed" style="display:none;" class="ui green empty circular label"></span></a>
  <a class="item" data-tab="history">History</a>
</div>
<div class="ui active tab segment" data-tab="changes">
		<div class="ui two column grid">
			<div class="row">
				<div class="column">
					<form class="ui form" id="commit-frm" name="commit-frm" novalidate>
					<div class="ui error message"></div>
						<div style="height: 370px;overflow-y: scroll;padding-top: 20px;" class="ui blue segment">
							{{ q["dtGitFiles"] | raw }}
						</div>
						<div class="field required">
							<div class="ui action input">
								<input class="to-clear-value" id="summary" name="summary" type="text" placeholder="summary">
								<button id="commit-btn" class="ui teal labeled icon button">
									<i class="git icon"></i>
									2-Commit to master
								</button>
							</div>
						</div>
						<div class="field">
							<div>
								<textarea class="to-clear-value" id="description" name="description" placeholder="description" rows="2"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="column">
					<div class="to-clear" id="changesInFiles-div"></div>
				</div>
			</div>
		</div>
</div>
<div class="ui tab segment" data-tab="history">
	<div class="ui two column grid">
		<div class="row">
			<div class="column">
				{{ q["dtCommits"] | raw }}
			</div>
			<div class="column">
				<div class="to-clear" id="changesInCommit-div"></div>
			</div>
		</div>
	</div>
</div>

{{ script_foot | raw }}
