@import url('https://fonts.googleapis.com/css?family=Poiret+One|Righteous');

body{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
	background: #FCFCFC !important;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption{
	color: #4EA0AF!important;
}
.wy-menu-vertical li.current{
	background-color: #f4f4f4!important; 
}
.wy-menu-vertical li.toctree-l2.current>a{
	background-color: #ebebeb!important;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a{
	background-color: #e3e3e3!important;
}

.rst-content .sidebar{
	background-color: #fff!important;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

code, .rst-content tt, .rst-content code{
	font-size: 95%!important;
}

.rst-content .sidebar .sidebar-title{
	background-color: #fbf6ed!important;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
}

img.bordered{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #dbdbdb;
}

img.console{
	background-color: #300A24;
	padding: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #dbdbdb;	
}


h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #5C7C98;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: normal;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  padding: 10px 10px 10px 45px;
  margin: 20px 0 35px -45px;
  background-color: #fbf6ed;
  width: calc(100% + 90px);
  border-bottom: 1px solid #D8E4EF;
}

h2 {
  padding: .2em 0;
  border-bottom: 1px solid #ddd;
}

h3 {
  margin-top: 35px;
}

h4 {
  margin-top: 30px;
}

h5 {
  margin-top: 25px;
}

.wy-nav-content{
	max-width: none!important;
}

.code-block-caption{
	font-style: normal!important;
	text-align: left!important;
}

.wy-side-nav-search{
	background: #4DA0B0!important;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #D39D38, #4DA0B0)!important;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #D39D38, #4DA0B0)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

.wy-side-nav-search a{
		font-family: 'Righteous', cursive;
		font-weight: normal;
}

.wy-side-nav-search .version{
	font-family: 'Poiret One', cursive;
}
.wy-side-nav-search input[type=text]{
	border-color:#4DA0B0!important;
}

.code-block-caption .caption-text{
	font-weight: bolder;
	font-size: small;
}

.rst-content pre.literal-block, .rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre{
	font-size: 14px!important;
}

.highlight .hll, [class^='highlight-']:not([class='highlight-default']){
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace!important;
	background: #343131!important;
	color: #d0d0d0!important;
}
/*
.highlight{
	background-color: #343131!important;
}
*/
.highlight-bash pre{
	color: #fff!important;
	font-size: 14px!important;
}
.wy-side-nav-search input[type=text]{
	border-radius: 4px!important;
}
/*.highlight-default .highlight .n{
	color: #202020!important;
}*/
div[class^='highlight'] pre{
	color: #999999!important;
	margin: 2px 0;
}
.linenodiv pre{
	border-right: 3px solid #435a5f !important;
}
.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight']{
	border-radius: .3em;
}

.rst-content .highlight>pre, .rst-content .linenodiv>pre {
	line-height: 17px!important;
}

.btn{
	border-radius: 5px;
	box-shadow: none;
	padding: 6px 12px!important;
}

.first {
  margin-top: 0 !important;
}

/* -- admonitions ----------------------------------------------------------- */

.rst-content .admonition-title:before{
	content:'';
	margin-right: 0px!important;
}

.admonition {
  margin: 20px 0!important;
  padding: 20px!important;
  background-color: #fff!important;
  border: 1px solid #eee!important;
  border-left-width: 6px!important;
  border-radius: 3px!important;
}

.admonition dt {
  font-weight: bold;
}

.admonition dl {
  margin-bottom: 0!important;
}

.admonition-title {
  margin: 0px 0 5px!important;
  padding: 0!important;
  font-weight: bold!important;
  line-height: 1.1!important;
  background-color: transparent!important;
}

.admonition.danger,
.admonition.error {
  border-left-color: #d9534f!important;
}

.admonition.danger .admonition-title,
.admonition.error .admonition-title {
  color: #d9534f!important;
}

.admonition.important,
.admonition.warning,
.admonition.attention,
.admonition.caution {
  border-left-color: #f0ad4e!important;
}

.admonition.important .admonition-title,
.admonition.warning .admonition-title,
.admonition.attention .admonition-title,
.admonition.caution .admonition-title {
  color: #9B581F!important;
}

.admonition.note,
.admonition.hint {
  border-left-color: #31708f!important;
}

.admonition.note .admonition-title,
.admonition.hint .admonition-title {
  color: #31708f!important;
}

.admonition.tip {
  border-left-color: #3c763d!important;
}

.admonition.tip .admonition-title {
  color: #3c763d!important;
}

div.body p.centered {
  text-align: center;
  margin-top: 25px;
}

div.seealso {
  background-color: #ffc!important;
  border: 1px solid #ff6!important;
}

div.admonition tt.xref, div.admonition a tt {
  border-bottom: 1px solid #fafafa!important;
}

div.admonition p.last {
  margin-bottom: 0!important;
}