body{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
}
.wy-nav-content{
	max-width: none!important;
}
.wy-side-nav-search{
	background-color: #EC7A76!important;
}
.wy-side-nav-search input[type=text]{
	border-color:#EC7A76!important;
}