body{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
}
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
}
.wy-nav-content{
	max-width: none!important;
}
.wy-side-nav-search{
	background-color: #EC7A76!important;
}
.wy-side-nav-search input[type=text]{
	border-color:#EC7A76!important;
}
.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo{
	border-radius: 6px;
}
.code-block-caption .caption-text{
	font-weight: bolder;
	font-size: small;
}

/*.highlight .hll { background-color: #404040!important; }
.highlight  { background: #202020!important; color: #d0d0d0!important; }*/

.highlight .hll, .highlight-php, .highlight-bash{
	background: #202020!important;
	color: #d0d0d0!important;
}

.highlight-bash pre{
	color: #fff!important;
}

.highlight-default .highlight .n{
	color: #202020!important;
}