@import url('https://fonts.googleapis.com/css?family=Poiret+One|Righteous');

body{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
	background: #FCFCFC !important;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif!important;
}

.wy-nav-content{
	max-width: none!important;
}

.wy-side-nav-search{
	background: #4DA0B0!important;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #D39D38, #4DA0B0)!important;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #D39D38, #4DA0B0)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

.wy-side-nav-search a{
		font-family: 'Righteous', cursive;
		font-weight: normal;
}

.wy-side-nav-search .version{
	font-family: 'Poiret One', cursive;
}
.wy-side-nav-search input[type=text]{
	border-color:#4DA0B0!important;
}
.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo{
	border-radius: 6px;
}
.code-block-caption .caption-text{
	font-weight: bolder;
	font-size: small;
}

/*.highlight .hll { background-color: #404040!important; }
.highlight  { background: #202020!important; color: #d0d0d0!important; }*/

.highlight .hll, [class^='highlight-']:not([class='highlight-default']){
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace!important;
	background: #1b2426!important;
	color: #d0d0d0!important;
}
.highlight .hll{
	background-color: #323e41 !important;
}

.highlight-bash pre{
	color: #fff!important;
}

.highlight-default .highlight .n{
	color: #202020!important;
}
div[class^='highlight'] pre{
	color: #999999!important;
	margin: 2px 0;
}
.linenodiv pre{
	border-right: 3px solid #435a5f !important;
}
.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight']{
	border-radius: .3em;
}

.rst-content .highlight>pre, .rst-content .linenodiv>pre {
	line-height: 18px!important;
}
.btn{
	border-radius: 5px;
	box-shadow: none;
}