<div id="_userInfo">
{% block _before %}
{% endblock %}
{%if connected is not null %}
	{% block _beforeConnected %}
	{% endblock %}
	{% block _userInfo %}
	<div class="ui label">
	{{ connected | raw }}
	</div>
	&nbsp;
	{% endblock %} 
	{% block _logoutButton %}
	<a href="{{authURL}}/terminate" class="ui black button ajax _logout" data-target="{{bodySelector}}">
		{% block _logoutCaption %}
		<i class="ui sign out alternate icon"></i> Log out
		{% endblock %}
	</a>
	{% endblock %}
{% else %}
	{% block _beforeNotConnected %}
	{% endblock %}
	{% block _loginButton %}
	<a href="{{authURL}}" data-target="{{bodySelector}}" class="ui button ajax">
		{% block _loginCaption %}
		<i class="icon sign in"></i> Log in
		{% endblock %}
	</a>
	{% endblock %}
{% endif %}
{% block _after %}
{% endblock %}
</div>
