{% block _before %}
<p></p>
{% endblock %}
{% block _message %}
{{ _message | raw }}
{% endblock %}
{% block _form %}
<form class="ui form" action="{{submitURL}}" method="post" name="frm-account-recovery" id="frm-account-recovery" data-target="{{bodySelector}}">
	<div class="field">
		<label for="email">Email</label>
		<input type="email" placeholder="Enter your email" name="email" id="email">
	</div>
<button type="submit" class="ui basic submit button _recoverySend">Send email</button>
</form>
{% endblock %}
{% block _after %}
{% endblock %}
{% block _script %}
{% endblock %}