<p></p>
{% block _form %}
<form id="frm-login" class="ui form" name="frm-login" method="post" action="{{action}}">
<h4 class="ui header dividing">Connection</h4> 
{% block _fields %}
<div class="two fields">
	{% block _fieldLogin %}
	<div class="field required">
	<label for="email">Email</label> 
	<div class="ui input">
		{% block _login %}
		<input id="email" name="email" type="text" placeholder="Email">
		{% endblock %}
	</div>
	</div>
	{% endblock %}
	{% block _fieldPassword %}
	<div class="field required">
		<label for="password">Password</label>
		<div class="ui input">
			{% block _password %}
			<input id="password" name="password" type="password" placeholder="Password">
			{% endblock %}
		</div>
	</div>
	{% endblock %}
</div>
{% endblock %}
{% block _buttons %}
<button class="ui button green basic">Connection</button>
{% endblock %}
</form>
{% endblock %}
