<form class="ui form" id="auth-controller-frm" novalidate>
	<div class="ui top attached secondary segment">Adding an Auth controller</div>
	<div class="ui attached segment">
		<div class="two fields">
			<div class="field">
				<label for="auth-name">Name</label>
				<div class="ui labeled input">
					<div class="ui label">
					    {{controllerNS}}
					</div>
					<input id="auth-name" name="auth-name" placeholder="AuthController name">
				</div>
			</div>
			<div class="field">
				<label for="auth-name">Base class</label>
				{{ q["ctrl-list"] | raw }}
			</div>
		</div>
		<div class="field">
			<div class="ui slider checkbox" id="auth-files-ck">
			  <input type="checkbox" name="auth-files" id="auth-files">
			  <label for="crud-files">Create override AuthFiles class</label>
			</div><p></p>
			{{ q["view-list"] | raw }}
		</div>
		<div class="field">
				<div class="ui checkbox">
				  <input type="checkbox" name="ck-add-route" id="ck-add-route">
				  <label for="ck-add-route">Add route...</label>
				</div>
		</div>
		<div id="div-new-route" style="display: none;">
			<div class="ui divider"></div>
			<div class="three fields">
				<div class="field">
					<label for="route-path">Path</label>
					<input id="route-path" name="route-path" value="">
				</div>
			</div>
		</div>
	</div>
</form>
<div class="ui segment">
  <button id="validate-btn" class="ui button positive">
  	<i id="icon-bt-okay" class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <button id="cancel-btn" class="ui button">
  	<i id="icon-bt-cancel" class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{ script_foot | raw }}
