<form class="ui form" id="filtering-frm">
	<div class="ui top attached secondary segment">Filtering controllers</div>
	<div class="ui attached segment">
		<div class="field">
			{{ q["lst-filter"] | raw }}
		</div>
	</div>
</form>
<div class="ui segment">
  <button id="validate-btn" class="ui button positive">
  	<i id="icon-bt-okay" class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <button id="cancel-btn" class="ui button">
  	<i id="icon-bt-cancel" class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{ script_foot | raw }}
