{% block _before %}
<div class="ui {{inverted}} segment">
{% endblock %}
{% block btAddNew %}
	<div class="ui secondary {{ inverted }} menu">
		<div class="item">
			<a id="btAddNew" class="ui {{inverted}} button orange _new">
			 <i class="icon plus"></i>
			 {% block _addNewCaption %}
			Add a new {{classname}}...
			{% endblock %}
			</a>
		</div>
	</div>
{% endblock %}
{% block frm %}
	<div id='frm-add-update'></div>
{% endblock %}
{% block dataTable %}
	<div id="dataTable" style="padding: 10px 0px 10px;">
	{{ q["lv"] | raw }}
	</div>
{% endblock %}
{% block messages %}
	<div id='table-messages'>
		{% for msg in messages %}
			{{ msg | raw }}
		{% endfor %}
	</div>
{% endblock %}
{% block details %}
	<div id='table-details'></div>
{% endblock %}
{% block _after %}
</div>
{% endblock %}
{% block script %}
	{% if hasScript %}
	{{script_foot | raw}}
	{% endif %}
{% endblock %}
