<div id="maintenance-display-container">
	<h3 class="ui top attached {{selectedColor}} header">
		<i class="{{maintenance.icon}} icon"></i>
		<div class="content">
			{{maintenance.id}}
			<div class="sub header">{{maintenance.title}}</div>
		</div>
	</h3>
	<div class="ui attached {{selectedColor}} segment">
		<div class="ui grid">
			<div class="ui four wide column">
				<h4 class="ui header">
					<i class="ban icon"></i>
					<div class="content">Excluded</div>
				</h4>
				<ul><li>Urls
						<ul>
						{% for url in maintenance.excluded['urls'] %}
							<li>{{url}}</li>
						{% endfor %}
						</ul>
					</li>
					<li>Hosts
						<ul>
						{% for host in maintenance.excluded['hosts'] %}
							<li>{{host}}</li>
						{% endfor %}
						</ul>
					</li>
					<li>Ports
						<ul>
						{% for port in maintenance.excluded['ports'] %}
							<li>{{port}}</li>
						{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
			<div class="ui eight wide column">
				<div class="ui large label">
					<i class="heart beat icon"></i>
					{{maintenance.controller}}
					<a class="detail">{{maintenance.action}}</a>
				</div>
				<div class="ui blurring dimmable dimmed segment" style="height: 150px;">
					<div class="ui simple dimmer">
						<div class="content">
							<h5 class="ui inverted icon header">
								<i class="{{maintenance.icon}} icon"></i>
								{{maintenance.title}}
								<div class='sub header'>{{ maintenance.message | raw }}</div>
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="ui four wide column">
				{{ q['bt-de-activate'] | raw }}
				{{ q['bt-edit-maintenance'] | raw }}
			</div>
		</div>
	</div>
</div>