<div id="maintenance-frm-container">
<form class="ui form" id="maintenance-frm" name="maintenance-frm" novalidate>
	<div class="ui top attached secondary segment">Maintenance modifier</div>
	<div class="ui attached segment">
		<div class="ui grid">
			<div class="ui four wide column">
				<div class="field">
					<label>Id</label>
					<input name="id" id="id" class="ui input" type="text" value="{{maintenance.id}}">
					<input name="ref" id="ref" type="hidden" value="{{maintenance.id}}">
				</div>
			</div>
			<div class="ui twelve wide column">
				<div class="fields">
					<div class="twelve wide field"><label>Controller</label>{{ q['dd-controllers'] | raw }}</div>
					<div class="four wide field">
						<label>Action</label>
						<input name="action" class="ui input" list='actions' type="text" value="{{maintenance.action}}" placeholder="action...">
							<datalist id="actions">
							</datalist>
					</div>
				</div>
			</div>
		</div>

		<h4 class="ui header">
			<i class="comments icon"></i>
			<div class="content">Content</div>
		</h4>
		<div class="ui divider"></div>
		<div class="two fields">
			<div class="four wide field">
				<label>Icon</label>
				<div class="ui icon input">
					<i class="ui {{maintenance.icon}} icon"></i>
					<input name="icon" id="icon" type="text" value="{{maintenance.icon}}">
				</div>
			</div>
			<div class="fourteen wide field">
				<label>Title</label>
				<input name="title" class="ui input" type="text" value="{{maintenance.title}}">
			</div>
		</div>
		<div class="field">
			<label>Message</label>
			<textarea name="message" rows="3">{{maintenance.message}}</textarea>
		</div>

		<h4 class="ui header">
			<i class="ban icon"></i>
			<div class="content">Excluded from maintenance</div>
		</h4>
		<div class="ui divider"></div>

		<div class="three fields">
			<div class="field">
				<label>Urls</label>
				{{ q['dd-urls'] | raw }}
			</div>
	
			<div class="field">
				<label>Hosts</label>
				{{ q['dd-hosts'] | raw }}
			</div>
	
			<div class="field">
				<label>Ports</label>
				{{ q['dd-ports'] | raw }}
			</div>
		</div>
		
		<div class='ui divider'></div>
		<div class="field">
			<label for='until'>Maintenance until</label>
			<input name="until" id="until" class="ui input" type="datetime-local" value="{{maintenance.until}}">
		</div>
		{{ q['ck-active'] | raw }}
		
	</div>
	<div class="ui segment">
		<button id="validate-btn" class="ui button positive">
			<i id="icon-bt-okay" class="icon check circle"></i>
			 Validate
		</button>
		&nbsp;
		<button id="cancel-btn" class="ui button">
			<i id="icon-bt-cancel" class="icon remove circle outline"></i>
			 Cancel
		</button>
	</div>
</form>
<br>
</div>
{{ script_foot | raw }}