{{ q["header"] | raw }}

<div class="ui secondary menu">
	 <div class="item">
	    <div class="ui left labeled action input">
	    <div class="ui basic teal label">Check devtools command</div>
	      <input type="text" placeholder="Ubiquity command location" value="{{devtoolsPath}}" id="devtools-path">
	      <a class="ui labeled icon button _saveConfig"><i class="ui check square icon _checkDevtools"></i>Save</a>
	    </div>
	  </div>
</div>
{{ checkDevtools | raw }}
<div id="devtools-message"></div>
<div class="ui segment">
	<div id="refresh-theme">
	{% include('@framework/Admin/themes/refreshTheme.html') %}
	</div>
	<div class="devtools-related">
		<div class="ui inverted dimmer"></div>
		<div class="ui divider"></div>
		<h5 class="ui header">
			<i class="ui magic icon"></i>
			<div class="content">
				Create a new theme
			</div>
		</h5>
		{{ q["frmNewTheme"] | raw }}
	</div>
</div>
{{ script_foot | raw }}
