<label>Active theme : </label><span class="ui teal left pointing label">{{activeTheme}}</span>
<p></p>
<div class="head">
	<div class="ui container">
		<div class="ui pointing inverted menu">
		  <div class="header item">
		    Installed themes
		  </div>
		  {% for theme in themes %}
		  <a class="item {{ activeTheme==theme ? 'active' }} _setTheme" href="Admin/setTheme/{{theme}}">
		    {{theme}}
		  </a>
		  {% endfor %}
		</div>
	</div>
</div>
<div class="devtools-related">
	<div class="ui inverted dimmer"></div>
	<div class="ui divider"></div>
	<h5 class="ui header">
		<i class="ui download icon"></i>
		<div class="content">
			Install an existing theme
		</div>
	</h5>
	<div class="ui buttons">
		{% for theme in notInstalled %}
			<a class="ui right labeled icon button _installTheme" data-ajax="{{theme}}"><i class="ui paint brush icon"></i>{{theme}}</a>
		{% else %}
			<div class="ui label">All existing themes are installed.</div>
		{% endfor %}
	</div>
</div>
	{% if partial %}
		{{ script_foot | raw }}
	{% endif %}