{% block _before %}
<p></p>
{% endblock %}
{% block _message %}
{{ _message | raw }}
{% endblock %}
{% block _buttons %}
	{% block _extraButtons %}
		{% for bt in q %}
			{{ bt | raw }}
		{% endfor %}
	{% endblock %}
	{% block _loginButton %}
		<a href="{{authURL}}" data-target="{{bodySelector}}" class="ui button ajax _login"><i class="icon sign in"></i>{{ _loginCaption }}</a>
	{% endblock %}
	{% block _recoveryLink %}
		{% if resetPassword %}
			{{ resetPassword|raw }}
		{% endif %}
	{% endblock %}
	{% block _accountCreation %}
		{% if createAccountUrl %}
			<a href="{{createAccountUrl}}" class="ui button black ajax _create" data-target='{{accountCreationTarget}}'>Create account</a>
		{% endif %}
	{% endblock %}
{% endblock %}
{% block _after %}
{% endblock %}
{% block script %}
	{% if script_foot is defined %}
		{{script_foot | raw}}
	{% endif %}
{% endblock %}
