<div id="div-tester-{{pathId}}">
	{{ msgHelp | raw }}
	<div class="ui segment blue">
	{{ frmTester | raw }}
	</div>
	<div class="ui grid">
	  <div class="six wide column">
	  	<div>
	  	<div class="ui segment">
	  		<div class="ui checkbox">
			  <input id="ck-payload-{{pathId}}" type="checkbox" name="payload">
			  <label for="ck-payload-{{pathId}}">Use payload</label>
			</div>
		</div>
			<div class="ui top attached button _requestWithHeaders">
				<i class="barcode icon"></i>
				Request headers 
			</div>
			<div class="ui attached segment _requestHeaders">
				 {{ frmHeaders | raw }}
			</div>
	  	</div>
	  	<p></p>
	  	<div>
			<div class="ui top attached button _requestWithParams">
				<i class="settings icon"></i>
				Request parameters 
			</div>
			<div class="ui attached segment _requestParameters">
				 {{ frmParameters | raw }}
			</div>
	  	</div>
	  	<div class="_runRestMethod">
	  	</div>
	  </div>
	  <div class="ten wide column">
		<div class="ui compact segment _statusSegment"><i class="icon mail"></i> <b>Response status :</b>&nbsp;<span class="_statusText"></span>&nbsp;
	   		<div class="ui label _status">code</div>
	 	</div>
	  	<div class="ui inverted segment"><pre style="word-wrap: break-word;white-space: pre-wrap;" class="_restResponse"></pre></div>
	  </div>
	</div>
</div>
{{ script_foot | raw }}
