<div class="ui top attached secondary segment">Import messages from file</div>
	<form id="frm-import-{{locale}}{{domain}}" class="ui form" method="post" enctype="multipart/form-data">
	<div class="ui attached segment">
		<div class="field">
			<label>Type</label>
			<div id="dd-type" class="ui selection dropdown">
				<input type="hidden" name="type" value="PhpArray">
				<i class="dropdown icon"></i>
				<div class="default text">Type</div>
				<div class="menu">
					<div class="item" data-value="PhpArray">PHP Array</div>
					<div class="item" data-value="Json">JSON</div>
					<div class="item" data-value="Yaml">YAML</div>
				</div>
			</div>
		</div>
		<input style="display:none;" type="file" name="file" id="file"/>
		<label for="file" class="ui fluid button">
			<i class="ui upload icon"></i>
			<span id='lbl-file'>Upload File</span>
		</label>
	</div>
</form>
<div class="ui segment">
  <button id="validate-import-messages-{{locale}}{{domain}}" class="ui button positive">
  	<i class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <button id="cancel-import-messages-{{locale}}{{domain}}" class="ui button">
  	<i class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{ script_foot | raw }}