<form class="ui form" id="frm-multiple-{{locale}}{{domain}}" novalidate>
	<div class="ui top attached secondary segment">Adding multiple messages</div>
	<div class="ui attached segment">
			<div class="field">
				<label>Messages</label>
				<textarea name="messages" placeholder="Enter your messages..."></textarea>
			</div>
			<div class="ui divider"></div>
			<div class="inline field">
				<label>key-value separator</label>
				<input name="separator" type="text" size="1" value="=">
			</div>
		</div>
</form>
<div class="ui segment">
  <button id="validate-multiple-messages-{{locale}}{{domain}}" class="ui button positive">
  	<i class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <button id="cancel-multiple-messages-{{locale}}{{domain}}" class="ui button">
  	<i class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{ script_foot | raw }}