	<div class ="ui grey inverted segment">
		<div class="ui grid">
			<div class="twelve wide column">
				<h3 class="ui inverted header">
					<i class="settings icon"></i>
					<div class="content">
						  Web-tools
						  <div class="sub header">Ubiquity framework administration</div>
					</div>
				</h3>
			</div>
			<div class="four wide right floated right aligned column">
				<div id="bt-customize" class='ui inverted icon button'><i class='ui list ul icon'></i> Customize...</div>
			</div>
		</div>
	</div>
	<div id="dialog"></div>
	<div id="admin-elements" class="ui two column grid">
		<div class="row">
			<div class="column">{{q["part1"] | raw}}</div>
			<div class="column">{{q["part2"] | raw}}</div>
		</div>
	</div>
{{script_foot | raw}}
