{% extends "@framework/auth/index.html" %}
{% block _before %}
	{{ parent() }}
{% endblock %}
{% block _form %}
	{{ parent() }}
{% endblock %}
{% block _header %}
	{{ parent() }}
{% endblock %}
{% block _fields %}
	{{ parent() }}
{% endblock %}
{% block _fieldLogin %}
	{{ parent() }}
{% endblock %}
{% block _login %}
	{{ parent() }}
{% endblock %}
{% block _fieldPassword %}
	{{ parent() }}
{% endblock %}
{% block _password %}
	{{ parent() }}
{% endblock %}
{% block _extraFields %}
	{{ parent() }}
{% endblock %}
{% block _fieldRemember %}
	{{ parent() }}
{% endblock %}
{% block _buttons %}
	{{ parent() }}
{% endblock %}
{% block _after %}
	{{ parent() }}
{% endblock %}
