{% extends "@framework/auth/info.html" %}
{% block _before %}
	{{ parent() }}
{% endblock %}
{% block _beforeConnected %}
	{{ parent() }}
{% endblock %}
{% block _userInfo %}
	{{ parent() }}
{% endblock %}
{% block _logoutButton %}
	{{ parent() }}
{% endblock %}
{% block _logoutCaption %}
	{{ parent() }}
{% endblock %}
{% block _beforeNotConnected %}
	{{ parent() }}
{% endblock %}
{% block _loginButton %}
	{{ parent() }}
{% endblock %}
{% block _loginCaption %}
	{{ parent() }}
{% endblock %}
{% block _after %}
	{{ parent() }}
{% endblock %}
